@import url("https://use.typekit.net/ovn8sba.css");
@font-face {
    font-family: mazius;
    src: url(assets/MAZIUSREVIEW20.09-Regular.otf);
}

:root
 {
     --main-bg-color : #FADBFF;
     --text-color: #AC00FF;
}

body, html{
    width: 99,5%;
    position: relative;
    height: 100%;
    background-color: var(--main-bg-color);
    color:var(--text-color);
    scroll-behavior: smooth;
}

.container{
    margin-right: 5%;
    margin-left: 5%;
}

.typotitle{
    font-family: mazius;
    font-size: 80px;
    font-weight: normal;
    margin: 0;
    position: relative;
    z-index: 1;
}

.typotext, a, label, input, textarea{
    font-family: freight-sans-compressed-pro, sans-serif; 
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--text-color);
}

header{
    position: absolute;
    width: 100%;
    z-index: 1;
}

header nav ul{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    margin-left: 30%;
    margin-right: 30%;
    padding: 0;
}

#home{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#illustration{
    right: 0;
    position: absolute;
    z-index: 0;
}

#illustration img{
    width: 360px;
}

#illustration2{
    right: 0;
    position: absolute;
    z-index: 0;
}

#illustration2 img{
    width: 370px;
}

#presentation{
    padding-bottom: 180px;
    position: relative;
}

#presentation h2 p{
    z-index: 1;
}

#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#projects img{
    display: inline-block;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grayscale img {
	opacity:20%;
    filter: hue-rotate(90deg);
	transition: filter .8s, opacity .8s;
}

.grayscale img:hover{
	opacity:100%;
    filter: hue-rotate(0);
}

#contact{
    padding-top: 150px;
    padding-bottom: 100px;
}

form{
    width: 50%;
}

form input, form textarea{
    width: 100%;
    height: 35px;
    color: var(--text-color);
    border: none;
    border-radius: 2px;
    font-size: 14px;
}

form textarea{
    height: 100px;
    resize: none;
}

form button{
    font-size: 15px;
    height: 30px;
    width: 80px;
    margin-top: 15px;
    margin-left: 15px;
    border: var(--text-color);
}

footer{
    display: flex;
    height:300px;
    background-color: var(--text-color);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#copyright{
    color: var(--main-bg-color);
}

#content{
    width: 15%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 820px) {

    header nav ul{
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;
    }
    .typotitle{
        font-family: mazius;
        font-size: 50px;
        font-weight: normal;
        margin: 0;
    }
    .typotext{
        font-size: 13px;
    }
    #illustration{
        opacity: 0;
    }
    #projects{
        flex-direction: column;
    }
    #projects img{
        width: 96%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .grayscale img {
        opacity:100%;
        filter: hue-rotate(0);
        transition: filter .8s, opacity .8s;
    }
    .grayscale img:hover{
        opacity:100%;
        filter: hue-rotate(0);
    }
    form{
        width: 90%;
    }
    #content{
        width: 35%;
        display: flex;
        justify-content: space-between;
    }
    }

@media screen and (min-width: 820px) {
    #illustration2{
        opacity: 0;
    }
}